In [1]:
import pandas as pd

In [6]:
data=pd.read_csv("income.csv")
df=pd.DataFrame(data)
df

        Name  Age  Income($)
0        Rob   27      70000
1    Michael   29      90000
2      Mohan   29      61000
3     Ismail   28      60000
4       Kory   42     150000
5     Gautam   39     155000
6      David   41     160000
7     Andrea   38     162000
8       Brad   36     156000
9   Angelina   35     130000
10    Donald   37     137000
11       Tom   26      45000
12    Arnold   27      48000
13     Jared   28      51000
14     Stark   29      49500
15    Ranbir   32      53000
16    Dipika   40      65000
17  Priyanka   41      63000
18      Nick   43      64000
19      Alia   39      80000
20       Sid   41      82000
21     Abdul   39      58000

In [8]:
summary = df.groupby('Age')['Income($)'].agg(['mean', 'median', 'min', 'max', 'std'])
print(summary)

              mean    median     min     max           std
Age
26    45000.000000   45000.0   45000   45000           NaN
27    59000.000000   59000.0   48000   70000  15556.349186
28    55500.000000   55500.0   51000   60000   6363.961031
29    66833.333333   61000.0   49500   90000  20870.633276
32    53000.000000   53000.0   53000   53000           NaN
35   130000.000000  130000.0  130000  130000           NaN
36   156000.000000  156000.0  156000  156000           NaN
37   137000.000000  137000.0  137000  137000           NaN
38   162000.000000  162000.0  162000  162000           NaN
39    97666.666667   80000.0   58000  155000  50856.005873
40    65000.000000   65000.0   65000   65000           NaN
41   101666.666667   82000.0   63000  160000  51403.631519
42   150000.000000  150000.0  150000  150000           NaN
43    64000.000000   64000.0   64000   64000           NaN

In [12]:
min=df.groupby('Age')['Income($)'].min()
min

Age
26     45000
27     48000
28     51000
29     49500
32     53000
35    130000
36    156000
37    137000
38    162000
39     58000
40     65000
41     63000
42    150000
43     64000
Name: Income($), dtype: int64

In [13]:
max=df.groupby('Age')['Income($)'].max()
max

Age
26     45000
27     70000
28     60000
29     90000
32     53000
35    130000
36    156000
37    137000
38    162000
39    155000
40     65000
41    160000
42    150000
43     64000
Name: Income($), dtype: int64

In [14]:
mean=df.groupby('Age')['Income($)'].mean()
mean

Age
26     45000.000000
27     59000.000000
28     55500.000000
29     66833.333333
32     53000.000000
35    130000.000000
36    156000.000000
37    137000.000000
38    162000.000000
39     97666.666667
40     65000.000000
41    101666.666667
42    150000.000000
43     64000.000000
Name: Income($), dtype: float64

In [15]:
median=df.groupby('Age')['Income($)'].median()
median

Age
26     45000.0
27     59000.0
28     55500.0
29     61000.0
32     53000.0
35    130000.0
36    156000.0
37    137000.0
38    162000.0
39     80000.0
40     65000.0
41     82000.0
42    150000.0
43     64000.0
Name: Income($), dtype: float64

In [17]:
from os import ST_NOSUID
std=df.groupby('Age')['Income($)'].std()
std

Age
26             NaN
27    15556.349186
28     6363.961031
29    20870.633276
32             NaN
35             NaN
36             NaN
37             NaN
38             NaN
39    50856.005873
40             NaN
41    51403.631519
42             NaN
43             NaN
Name: Income($), dtype: float64

In [18]:
var=df.groupby('Age')['Income($)'].var()
var

Age
26             NaN
27    2.420000e+08
28    4.050000e+07
29    4.355833e+08
32             NaN
35             NaN
36             NaN
37             NaN
38             NaN
39    2.586333e+09
40             NaN
41    2.642333e+09
42             NaN
43             NaN
Name: Income($), dtype: float64